<div class="row">
  <div class="row valign-wrapper">
    <h5 class="col">Detalles</h5>
    <i *ngIf="areDetailsValid()" class="material-icons col">check</i>
  </div>

  <div class="row valign-wrapper">
    <div class="col">
      <span>Busca un estudio</span>
    </div>
    <div class="input-field col">
      <pills-typeahead
          [getPillTagName]="getPillTagName"
          [generateKey]="generateTypeaheadKey"
          [fetchData]="searchStudies"
          [name]="'studies'"
          [onItemSelected]="onTypeaheadItemSelected">
      </pills-typeahead>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <input [(ngModel)]="appointmentDate"
             (ngModelChange)="onAppointmentDateChange($evt)"
             name="appointmentDate"
             type="date"
             id="appointmentDate"
             class="datepicker">
      <label for="appointmentDate">Selecciona un dia</label>
    </div>

    <div class="input-field col s12">
      <select id="captureDetails-selectHour">
        <option value="" disabled selected>Choose your option</option>
        <option *ngFor="let slot of availableSlots" value="{{ slot.value }}">{{ slot.displayName }}</option>
      </select>
      <label for="captureDetails-selectHour">Selecciona una hora</label>
    </div>
  </div>
</div>
