<div class="row">
  <div class="row valign-wrapper">
    <h5 class="col">Detalles</h5>
    <i *ngIf="areDetailsValid()" class="material-icons col">check</i>
  </div>

  <div class="row valign-wrapper">
    <div class="col">
      <span>Busca un estudio</span>
    </div>
    <div class="input-field col">
      <pills-typeahead
          [getPillTagName]="getPillTagName"
          [generateKey]="generateTypeaheadKey"
          [fetchData]="searchStudies"
          [name]="'studies'"
          [onItemSelected]="onTypeaheadItemSelected">
      </pills-typeahead>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <span>Selecciona una hora</span>
    </div>

    <div class="input-field col s12">
      <select id="captureDetails-selectHour">
        <option value="" disabled selected>Choose your option</option>
        <option *ngFor="let slot of availableSlots" value="{{ slot.value }}">{{ slot.displayName }}</option>
        <!--<option value="1">Option 1</option>-->
        <!--<option value="2">Option 2</option>-->
        <!--<option value="3">Option 3</option>-->
      </select>
      <label for="captureDetails-selectHour">Materialize Select</label>
    </div>
  </div>
</div>
