<div class="typeahead valign-wrapper">
  <div class="row">
    <i class="material-icons prefix col">search</i>
    <div class="chips"></div>
  </div>
  <div class="row">
    <div class="col input-field">
      <input [(ngModel)]="query"
             (ngModelChange)="onQueryChange()"
             type="text"
             id="typeahead-{{ name }}"
             class="typeahead-input">
      <label [attr.for]="'typeahead-' + name">Buscar ...</label>
    </div>
    <div class="col">
      <button *ngIf="query" class="col unstyled-button">
        <i (click)="clearQuery()" class="material-icons col">clear</i>
      </button>
    </div>
  </div>
</div>

