<section class="container createAppointment">
  <h4>Agendar una cita nueva</h4>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="Juan" id="createAppointment-firstName" type="text" class="validate">
          <label for="createAppointment-firstName">Nombre</label>
        </div>
        <div class="input-field col s4">
          <input id="createAppointment-lastName" type="text" class="validate">
          <label for="createAppointment-lastName">Apellidos</label>
        </div>
        <div class="input-field col s4">
          <input type="date" id="createAppointment-DoB" class="datepicker">
          <label for="createAppointment-DoB">Fecha de nacimiento</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
  </div>
</section>

