<section class="row">
  <h5>Paciente</h5>
  <div class="input-field">
    <typeahead
      [fetchData]="searchPatient"
      [name]="'patient'"
      [onItemSelected]="onTypeaheadItemSelected">
    </typeahead>
  </div>
</section>

<section class="row">
  <div class="input-field col s4">
    <input [(ngModel)]="firstName"
           name="capturePatient-firstName"
           id="capturePatient-firstName"
           type="text"
           class="validate autocomplete">
    <label for="capturePatient-firstName">Nombre</label>
  </div>
  <div class="input-field col s4">
    <input [(ngModel)]="lastName"
           name="capturePatient-lastName"
           id="capturePatient-lastName"
           type="text"
           class="validate">
    <label for="capturePatient-lastName">Apellidos</label>
  </div>
  <div class="input-field col s4">
    <input [(ngModel)]="dateOfBirth"
           name="capturePatient-DoB"
           type="date"
           id="capturePatient-DoB"
           class="datepicker">
    <label for="capturePatient-DoB">Fecha de nacimiento</label>
  </div>
</section>
