.hidden {
  display: none !important;
}

.unstyled-button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;

  &:focus {
    background: transparent;
  }
}

.dropdown-content {
  position: absolute;
}

.panel {
  border: 1px solid silver;
  border-radius: 2px;
  padding: 2rem;
  background-color: white;
}

